* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nextButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}

.prevButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}

.cardContainer {
  position: absolute;

  top: 20%;
  left: 40%;
  border-radius: 1rem;
  height: 450px;
  width: 350px;
  background-color: #a9cae4;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
}

.nextButton,
.prevButton {
  border: 2px solid black;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.cardContainer button:hover,
.nextButton:hover,
.prevButton:hover {
  background: rgb(33, 177, 177);
  cursor: pointer;
}

.nextButton[disabled]:hover,
.prevButton[disabled]:hover {
  background: none;
}
.cardContainer h1 {
  text-align: center;
  margin: 10px;
}
