* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cardContainer {
  position: absolute;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  height: 60vh;
  width: 25vw;
  background-color: #a9cae4;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
  background-image: url("../imgs/card.jpg");
  background-size: cover;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.nextButton,
.prevButton,
.husoButton {
  border: 2px solid black;
  margin: 1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
}

.cardContainer button:hover,
.nextButton:hover,
.prevButton:hover {
  background: rgb(33, 177, 177);
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* .nextButton[disabled]:hover,
.prevButton[disabled]:hover {
  background: none;
} */
.cardContainer h1 {
  text-align: center;
  margin: 10px 0 1px 0;
}

.cardContainer p {
  font-size: 20px;
  line-height: 27px;
  margin: 0 10px;
}
