* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #a4a6a8;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

p {
  margin: 1rem;
}

.cardStack {
  position: relative;
  left: -8vh;
}

.nextButton:hover,
.prevButton:hover {
  background: rgb(33, 177, 177);
  cursor: pointer;
}

.nextButton,
.prevButton {
  border: 2px solid black;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
